Exercicio2/Composicao/bpelContent/BuscaCEP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://buscaCEP" xmlns:intf="http://buscaCEP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://buscaCEP">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://buscaCEP">
   <element name="buscaCEP">
    <complexType>
     <sequence>
      <element name="cep" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscaCEPResponse">
    <complexType>
     <sequence>
      <element name="buscaCEPReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="buscaCEPResponse">

      <wsdl:part element="impl:buscaCEPResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscaCEPRequest">

      <wsdl:part element="impl:buscaCEP" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BuscaCEP">

      <wsdl:operation name="buscaCEP">

         <wsdl:input message="impl:buscaCEPRequest" name="buscaCEPRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscaCEPResponse" name="buscaCEPResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BuscaCEPSoapBinding" type="impl:BuscaCEP">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buscaCEP">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscaCEPRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscaCEPResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BuscaCEPService">

      <wsdl:port binding="impl:BuscaCEPSoapBinding" name="BuscaCEP">

         <wsdlsoap:address location="http://192.168.1.101:8080/WebServiceBuscaCep/services/BuscaCEP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
