Projeto/BPEL/Twitter/bpelContent/TopTweet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://topTweet" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://topTweet" xmlns:intf="http://topTweet" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://topTweet" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="topTweet">
    <complexType>
     <sequence>
      <element name="xml" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="topTweetResponse">
    <complexType>
     <sequence>
      <element name="topTweetReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="topTweetRequest">

      <wsdl:part element="impl:topTweet" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="topTweetResponse">

      <wsdl:part element="impl:topTweetResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TopTweet">

      <wsdl:operation name="topTweet">

         <wsdl:input message="impl:topTweetRequest" name="topTweetRequest">

       </wsdl:input>

         <wsdl:output message="impl:topTweetResponse" name="topTweetResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TopTweetSoapBinding" type="impl:TopTweet">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="topTweet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="topTweetRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="topTweetResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TopTweetService">

      <wsdl:port binding="impl:TopTweetSoapBinding" name="TopTweet">

         <wsdlsoap:address location="http://172.20.4.219:8080/TopTweetService/services/TopTweet"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
