Exercicio2/Composicao2/bpelContent/MailSender.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mail" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mail" xmlns:intf="http://mail" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mail" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="send">
    <complexType>
     <sequence>
      <element name="to" type="xsd:string"/>
      <element name="from" type="xsd:string"/>
      <element name="subject" type="xsd:string"/>
      <element name="msg" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendResponse">
    <complexType>
     <sequence>
      <element name="sendReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendResponse">

      <wsdl:part element="impl:sendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendRequest">

      <wsdl:part element="impl:send" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MailSender">

      <wsdl:operation name="send">

         <wsdl:input message="impl:sendRequest" name="sendRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendResponse" name="sendResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MailSenderSoapBinding" type="impl:MailSender">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="send">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MailSenderService">

      <wsdl:port binding="impl:MailSenderSoapBinding" name="MailSender">

         <wsdlsoap:address location="http://192.168.1.101:8080/Webmail/services/MailSender"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
