Exercicio1/WebServiceClient/WebContent/wsdl/ListaProdutos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://PackageListaProdutoPreco" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://PackageListaProdutoPreco" xmlns:intf="http://PackageListaProdutoPreco" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://PackageListaProdutoPreco" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="listarProdutos">
    <complexType/>
   </element>
   <element name="listarProdutosResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listarProdutosReturn" type="impl:Produto"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Produto">
    <sequence>
     <element name="altura" type="xsd:double"/>
     <element name="comprimento" type="xsd:double"/>
     <element name="diametro" type="xsd:double"/>
     <element name="largura" type="xsd:double"/>
     <element name="nome" nillable="true" type="xsd:string"/>
     <element name="peso" type="xsd:double"/>
     <element name="preco" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listarProdutosResponse">

      <wsdl:part element="impl:listarProdutosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarProdutosRequest">

      <wsdl:part element="impl:listarProdutos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ListaProdutos">

      <wsdl:operation name="listarProdutos">

         <wsdl:input message="impl:listarProdutosRequest" name="listarProdutosRequest">

       </wsdl:input>

         <wsdl:output message="impl:listarProdutosResponse" name="listarProdutosResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ListaProdutosSoapBinding" type="impl:ListaProdutos">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listarProdutos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listarProdutosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listarProdutosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ListaProdutosService">

      <wsdl:port binding="impl:ListaProdutosSoapBinding" name="ListaProdutos">

         <wsdlsoap:address location="http://172.22.44.65:8080/WebServiceListarProdutos/services/ListaProdutos"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
